* {
  background: white;
  font-family: Roboto;
}

.name {
  text-align: center;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.title {
  text-decoration: underline;
}
.category {
  outline: black solid 1px;
}
